<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vertice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity android:name=".alumnos.ListarNotas"></activity>
        <activity android:name=".alumnos.SeleccionarAlumno" />
        <activity android:name=".alumnos.DeleteAlumno" />
        <activity android:name=".alumnos.ModificarAlumno" />
        <activity android:name=".alumnos.ListarAlumnos" />
        <activity android:name=".alumnos.AnadirAlumno" />
        <activity android:name=".alumnos.CalificarAlumno" />
        <activity android:name=".Asignatura" />
        <activity android:name=".Alumno" />
        <activity android:name=".asignaturas.AnadirAsignatura" />
        <activity android:name=".asignaturas.DeleteAsignatura" />
        <activity android:name=".asignaturas.ListarAsignaturas" />
        <activity android:name=".asignaturas.ModificarAsignatura" />
        <activity android:name=".asignaturas.SeleccionarAsignatura" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>